{
  "extends": ["eslint:recommended", "prettier", "prettier/react"],
  "plugins": ["prettier", "import"],
  "ignorePatterns": ["dist", "node_modules"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "amd": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "no-eval": "error",
    "import/first": "error",
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "import/newline-after-import": "error"
  },
  "parser": "babel-eslint"
}
