li {
    width: 100px;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

li a#active {
    background-color: #4a4a4a;
}

li:hover {
    background-color: #111;
}

li.img {
    display: flex;
    float: right;
    width: 150px;
}

li.img img {
    height: 30px;
    display: block;
    margin: auto;
    margin-right: 0px;
}

li.img a {
    padding-right: 25px
}